@import '~@angular/material/theming';
@import 'src/app/styles/component-themes.scss';

@include mat-core();

$primary: mat-palette($mat-blue, A200, A100, A400);
$accent:  mat-palette($mat-blue, A200, A100, A400);
$warn:    mat-palette($mat-red);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);

// dark theme
// .dark-theme {
//   $dark-primary: mat-palette($mat-grey);
//   $dark-accent:  mat-palette($mat-grey, A400, A100, A700);
//   $dark-warn:    mat-palette($mat-red);
//   $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
//   // $foreground: map-get($dark-theme, foreground);

//   @include angular-material-theme($dark-theme);
//   @include component-themes($dark-theme);
// }

.red-theme {
  $dark-primary: mat-palette($mat-red);
  $dark-accent:  mat-palette($mat-red, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.green-theme {
  $dark-primary: mat-palette($mat-green);
  $dark-accent:  mat-palette($mat-green, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.blue-theme {
  $dark-primary: mat-palette($mat-blue, A200, A100, A400);
  $dark-accent:  mat-palette($mat-blue, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.orange-theme {
  $dark-primary: mat-palette($mat-orange);
  $dark-accent:  mat-palette($mat-orange, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

// .yellow-theme {
//   $dark-primary: mat-palette($mat-red);
//   $dark-accent:  mat-palette($mat-yellow, A400, A100, A700);
//   $dark-warn:    mat-palette($mat-red);
//   $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
//   @include angular-material-theme($dark-theme);
//   @include component-themes($dark-theme);
// }

.pink-theme {
  $dark-primary: mat-palette($mat-pink);
  $dark-accent:  mat-palette($mat-pink, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.deeppurple-theme {
  $dark-primary: mat-palette($mat-deep-purple);
  $dark-accent:  mat-palette($mat-deep-purple, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.indigo-theme {
  $dark-primary: mat-palette($mat-indigo);
  $dark-accent:  mat-palette($mat-indigo, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.teal-theme {
  $dark-primary: mat-palette($mat-teal);
  $dark-accent:  mat-palette($mat-teal, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.lightblue-theme {
  $dark-primary: mat-palette($mat-light-blue);
  $dark-accent:  mat-palette($mat-light-blue, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.cyan-theme {
  $dark-primary: mat-palette($mat-cyan);
  $dark-accent:  mat-palette($mat-cyan, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.brown-theme {
  $dark-primary: mat-palette($mat-brown);
  $dark-accent:  mat-palette($mat-brown, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

.bluegrey-theme {
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent:  mat-palette($mat-blue-grey, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}
