@import '~@angular/material/theming';

.titleIntro{
  position: absolute;
  top: 40%;
  left: 10%;
  margin: 0;
  line-height: 1;
  max-width: 80%;
}

.subtitle.h2{
  margin-top: 8px;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
}

.links{
  margin-top: 64px;
}

.links a{
  margin: 8px;
  text-decoration: none;
}

@mixin intro-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, primary);
  $background: map-get($theme, background);
  // $background-color: mat-color($background, card);

  .intro {
    // @include mat-elevation(2);
    transition: background-color 1s ease;
    background-color: mat-color($primary);
    position: relative;
    overflow: visible;
    width:100% ! important;
    height: 100vh;
    width: 100vw;
    height: calc(100vh - 150px);
  }

  .separatorPath {
    transition: fill 1s ease;
    fill: mat-color($primary);
  }

}
