.education,.education .title{
  text-align: left;
}
.conferences,.conferences .title{
  text-align: right;
}

.bg-git, .bg-google, .bg-gulp, .bg-html, .bg-illustrator,
.bg-javascript, .bg-jquery, .bg-karma, .bg-mongo, .bg-mysql,
.bg-photoshop, .bg-php, .bg-typescript, .bg-webpack, .bg-sass, .bg-angular, .bg-microsoft,
.bg-graduation
{
  display: inline-block;
  background: url('../../../assets/img/expertin-min.webp') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  border: 1px solid whitesmoke;
}

.education-logo{
  width: 90px;
  height: 90px;
}

.bg-microsoft {
  background-position: -0px -450px;
  width: 90px;
  height: 90px;
}

.bg-graduation {
  background-position: -90px -450px;
  width: 90px;
  height: 90px;
}
