<app-separator [fillColor]="'#eee'" [backgroundColor]="'#FFFFFF'"></app-separator>

<div #accomplishments class="h2 center accomp-background">
    <app-title title="{{(portfolio.texts)?.accomplishments.title}}" fontFamily="{{portfolio.texts?.font.title}}" [stylish]="true" [lineWidth]="250" color="#f286b6" [inverse]="true"></app-title>
</div>

<div [ngClass.sm]="['small']" fxLayoutAlign="center center" fxLayout="row wrap" [ngClass.xs]="['small']" class="accomplishments">

    <div class="accomplishment one">
        <div class="h3 subtitle">
            <app-title title="{{(portfolio.texts)?.accomplishments.content[0].title}}" [lineWidth]="98" color="#d7d7d7"></app-title>
        </div>
        <div class="content">{{(portfolio.texts)?.accomplishments.content[0].paragraph}}</div>
    </div>
    <div class="accomplishment two">
        <div class="h3 subtitle">
            <app-title title="{{(portfolio.texts)?.accomplishments.content[1].title}}" [lineWidth]="45" color="#d7d7d7" [inverse]="true"></app-title>
        </div>
        <div class="content">{{(portfolio.texts)?.accomplishments.content[1].paragraph}}</div>
    </div>
    <!-- <div class="accomplishment three"> -->
    <!--     <div class="h3 subtitle"> -->
    <!--         <app-component-title title="{{(portfolio.texts)?.accomplishments.content[2].title}}" lineWidth="45" color="#d7d7d7"></app-component-title> -->
    <!--     </div> -->
    <!--     <div class="content">{{(portfolio.texts)?.accomplishments.content[2].paragraph}}</div> -->
    <!-- </div> -->

    <div fxHide.sm fxHide.xs class="accomplishmentIcon">
        <svg width="540" height="560">
            <g>
            <g transform="translate(-175.64289,-228.95433)">
            <g transform="matrix(1.25,0,0,1.25,242.10099,235.82933)">
            <path d="M 0,0 110,102" style="fill:none;stroke:#f5f7f7;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,178.05409,249.19973)">
            <path d="m 217.31561,282.10938 c -77.73437,0 -141.015622,-63.28125 -141.015622,-141.01563 C 76.300003,63.28125 139.58125,0 217.31561,0 c 77.73438,0 141.01563,63.28125 141.01563,141.01562 0,77.81251 -63.28125,141.09376 -141.01563,141.09376 z m 0,-216.406255 c -41.56248,0 -75.39062,33.828117 -75.39062,75.390625 0,41.5625 33.82814,75.3125 75.39062,75.3125 41.5625,0 75.39063,-33.82812 75.39063,-75.3125 0,-41.640625 -33.82813,-75.390625 -75.39063,-75.390625 z" style="fill:white;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,381.63224,357.40283)">
            <path d="m 108.90624,54.453121 c 0,7.220928 -1.38167,14.167027 -4.14501,20.838291 -2.76334,6.671273 -6.697982,12.559891 -11.803947,17.665871 -5.10598,5.105965 -10.994598,9.040607 -17.665871,11.803947 -6.671264,2.76334 -13.617363,4.14501 -20.838291,4.14501 -7.220936,0 -14.167042,-1.38167 -20.83831,-4.14501 C 26.943539,101.99789 21.054918,98.063248 15.948949,92.957283 10.842978,87.851303 6.9083271,81.962685 4.1449962,75.291412 1.3816652,68.620148 0,61.674049 0,54.453121 0,47.232185 1.3816652,40.286079 4.1449962,33.614811 6.9083271,26.943539 10.842978,21.054918 15.948949,15.948949 21.054918,10.842978 26.943539,6.9083271 33.614811,4.1449962 40.286079,1.3816652 47.232185,0 54.453121,0 c 7.220928,0 14.167027,1.3816652 20.838291,4.1449962 6.671273,2.7633309 12.559891,6.6979818 17.665871,11.8039528 5.105965,5.105969 9.040607,10.99459 11.803947,17.665862 2.76334,6.671268 4.14501,13.617374 4.14501,20.83831 z" style="fill:white;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,194.35098,165.93793)">
            <path d="m 79.590622,304.5 -62.890621,106.79688 58.906254,7.42187 35.000005,47.89063 62.42188,-105.9375 C 133.02812,355.20313 102.09062,336.14063 79.590622,304.5 Z" style="fill:white;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,118.17128,165.93793)">
            <path d="m 388.65936,304.5 62.96875,106.79688 -58.90625,7.42187 -35,47.89063 -62.42184,-105.9375 c 39.92184,-5.46875 70.85934,-24.53125 93.35934,-56.17188 z" style="fill:white;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.0825317,-0.625,0.625,1.0825317,676.47599,651.12843)">
            <path d="M 0,24 0,3 C 0,1 1,0 3,0 5,0 6,1 6,3 L 6,24 C 6,26 5,27 3,27 1,27 0,26 0,24 Z" style="fill:#14c3fd;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(0.54796394,1.1234926,-1.1234926,0.54796394,415.7354,229.97083)">
            <path d="m 7.203125,1.7394106 c 1.6568537,0 3,1.3431456 3,2.9999998 0,0 -1.8813477,8.0349116 -3.2070322,17.5488286 -1.3256841,9.513916 -1.3491216,21.184448 -1.3491216,21.184448 0,0 0.3388672,13.231811 1.3200679,19.709839 0.9812007,6.478027 3.9519039,20.269287 3.9519039,20.269287 0,1.656852 -1.3431469,3 -3.0000005,3 -1.6568552,0 -3.0000015,-1.343148 -3.0000015,-3 0,0 -2.5861802,-9.519623 -3.8984353,-19.514405 -1.31225518,-9.994781 -1.35058529,-20.464721 -1.35058529,-20.464721 0,0 0.122559,-12.043457 1.40380929,-22.237305 C 2.35498,11.041534 4.203125,4.7394104 4.203125,4.7394104 c 0,-1.6568542 1.3431458,-2.9999998 3,-2.9999998 z" style="fill:#abe074;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.0825317,-0.625,0.625,1.0825317,613.22839,541.79283)">
            <path d="M 0,82 0,3 C 0,1 1,0 3,0 5,0 6,1 6,3 L 6,82 C 6,84 5,85 3,85 1,85 0,84 0,82 Z" style="fill:#14c3fd;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.0825317,-0.625,0.625,1.0825317,668.22839,637.03143)">
            <path d="M 0,7 0,3 C 0,1 1,0 3,0 5,0 6,1 6,3 L 6,7 C 6,9 5,10 3,10 1,10 0,9 0,7 Z" style="fill:#14c3fd;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,543.35099,397.92223)">
            <path d="M 0,15.325684 132.19382,0" style="fill:none;stroke:#f5f7f7;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                                />
            </g>
            <g transform="matrix(1.1506311,0.48841391,-0.48841391,1.1506311,704.28889,388.51823)">
            <path d="m 12,6 c -10e-7,1.6568542 -0.585788,3.0710669 -1.75736,4.24264 C 9.0710669,11.414212 7.6568542,11.999999 6,12 4.3431454,11.999999 2.9289322,11.414212 1.7573593,10.24264 0.58578634,9.0710669 0,7.6568542 0,6 0,4.3431454 0.58578634,2.9289322 1.7573593,1.7573593 2.9289322,0.58578634 4.3431454,0 6,0 7.6568542,0 9.0710669,0.58578634 10.24264,1.7573593 11.414212,2.9289322 11.999999,4.3431454 12,6 Z" style="fill:#eeeff0;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,235.22599,228.95433)">
            <path d="m 12,6 c -10e-7,1.6568542 -0.585788,3.0710669 -1.75736,4.24264 C 9.0710669,11.414212 7.6568542,11.999999 6,12 4.3431454,11.999999 2.9289322,11.414212 1.7573593,10.24264 0.58578634,9.0710669 0,7.6568542 0,6 0,4.3431454 0.58578634,2.9289322 1.7573593,1.7573593 2.9289322,0.58578634 4.3431454,0 6,0 7.6568542,0 9.0710669,0.58578634 10.24264,1.7573593 11.414212,2.9289322 11.999999,4.3431454 12,6 Z" style="fill:#eeeff0;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(1.25,0,0,1.25,182.39609,465.82933)">
            <path d="M 0,62.97876 142.76392,0" style="fill:none;stroke:#f5f7f7;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"/>
            </g>
            <g transform="matrix(0.3235238,-1.2074073,1.2074073,0.3235238,173.97599,549.41423)">
            <path d="m 12,6 c -10e-7,1.6568542 -0.585788,3.0710669 -1.75736,4.24264 C 9.0710669,11.414212 7.6568542,11.999999 6,12 4.3431454,11.999999 2.9289322,11.414212 1.7573593,10.24264 0.58578634,9.0710669 0,7.6568542 0,6 0,4.3431454 0.58578634,2.9289322 1.7573593,1.7573593 2.9289322,0.58578634 4.3431454,0 6,0 7.6568542,0 9.0710669,0.58578634 10.24264,1.7573593 11.414212,2.9289322 11.999999,4.3431454 12,6 Z" style="fill:#eeeff0;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(0.66239901,1.0600601,-1.0600601,0.66239901,536.91056,615.72623)">
            <path d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" style="fill:#eee;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(0.66239901,1.0600601,-1.0600601,0.66239901,610.89478,620.30383)">
            <path d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 7,0 c 2.209139,0 4.094757,0.78104854 5.656855,2.3431456 C 22.218952,3.9052427 23,5.7908607 23,8 23,10.209139 22.218952,12.094757 20.656855,13.656854 19.094757,15.21895 17.209139,15.999999 15,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" style="fill:#eee;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            <g transform="matrix(0.66239901,1.0600601,-1.0600601,0.66239901,540.89478,552.80383)">
            <path d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 7,0 c 2.209139,0 4.094757,0.78104854 5.656855,2.3431456 C 22.218952,3.9052427 23,5.7908607 23,8 23,10.209139 22.218952,12.094757 20.656855,13.656854 19.094757,15.21895 17.209139,15.999999 15,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" style="fill:#eee;fill-opacity:1;fill-rule:nonzero;stroke:none"/>
            </g>
            </g>
            </g>
        </svg>
    </div>
</div>

<app-separator [Inverted]="true" [fillColor]="'#eee'" [backgroundColor]="'#FFFFFF'" ></app-separator>
