.fa-color-lens {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0px;
}

.default{
  box-shadow: none ! important;
}

.fab-container {
  position: fixed;
  z-index: 100;
  display: flex;
  top: 5%;
  left: 5%;

  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  div.column {
    display: flex;
    // flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  > div.column-reverse {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.dark-theme {
  background-color: #bdbdbd;
}
.red-theme {
  background-color: #f44336;
}
.green-theme {
  background-color: #4caf50;
}
.blue-theme {
  background-color: #448aff;
}
.orange-theme {
  background-color: #ff9800;
}
.yellow-theme {
  background-color: #ffea00;
}
.pink-theme {
  background-color: #e91e63;
}
.teal-theme {
  background-color:#009688
}
.deeppurple-theme {
  background-color: #673ab7;
}
.indigo-theme {
  background-color: #3f51b5;
}
.lightblue-theme {
  background-color: #03a9f4;
}
.cyan-theme {
  background-color: #00bcd4;
}
.brown-theme {
  background-color: #795548;
}
.bluegrey-theme {
  background-color: #607d8b;
}
