<!-- <div id="outline"> -->

<!--   <1!-- <h1>{{currentSection}}</h1> --1> -->
<!--   <1!-- <div class="wrapper" *ngFor="let item of (portfolio.texts)?.menu"> --1> -->
<!--   <1!--   <span class="subtitle" (mousemove)="onHover(item.link)" (mouseout)="onMouseOut()" (click)="scrollTo(item.link)">{{ item.name }}</span> --1> -->
<!--   <1!-- </div> --1> -->

<!-- <figure class="dot"> -->
<!--   <span class="ratio svg dot__icon"> -->
<!--     <canvas width="9px" height="9px"></canvas> -->
<!--     <svg viewBox="0 0 9 9"><use xlink:href="/src/svg/symbols/symbols.svg#tick"></use></svg> -->
<!--   </span> -->
<!-- </figure> -->
<!--     <1!-- <div fxFlexOrder="2" fxFlex="10" class="middle" fxHide.sm fxHide.xs> --1> -->
<!--     <1!--     <div class="line top"></div> --1> -->
<!--     <1!--     <div class="line bottom"> --1> -->
<!--     <1!--         <mat-icon class="midIcon">adjust</mat-icon> --1> -->
<!--     <1!--     </div> --1> -->
<!--     <1!-- </div> --1> -->
<!-- </div> -->

<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'> -->

<!-- The Timeline -->

<div #outline id="outline"><ul class="timeline">

    <!-- Item 1 -->
    <li *ngFor="let item of (portfolio.texts)?.menu">
      <div class="direction-l" >
        <div class="flag-wrapper" >
          <span (click)="scrollTo(item.link)" [style.font-family]="portfolio.texts['font'].outline"
            class="flag"
            [ngClass]="{ active : item.link===currentSection}"
            >
            {{ item.name }}
          </span>
        </div>
      </div>
    </li>
  </ul></div>
