@import '~@angular/material/theming';

@mixin ba-back-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  $height: 52px;

  .ba-back-top {
    transition: background-color 1s ease;
    transition: opacity 1s ease;
    color: #FFF;
    position: fixed;
    width: $height;
    height: $height;
    cursor: pointer;
    z-index: 97;
    display: none;
    text-decoration: none;
    right: 40px;
    bottom: 40px !important;
    font-size: 45px;
    text-align: center;
    opacity: 0.3;
    background-color: mat-color($primary);
    border-radius: 50%;
    line-height: 40px;
    &:hover {
      opacity: 1;
    }
    // background-image: url('../../../assets/img/arrow-top.png');
    background-size: contain;
    background-size: cover;
  }

  #svg-backTo-top {
    margin-top: 8px;
    position: absolute;
    left: 12px;
  }
}
