<button matTooltip="Change Language" [matTooltipPosition]="'before'" mat-button [matMenuTriggerFor]="menu" class="langmenu">
    <img class="lang-select-icon" src="assets/img/language.webp" alt="Language Selector" >
    <!-- <img class="lang-select-icon" src="assets/img/{{selectedLangugage}}.webp" alt="Language Selector" > -->
</button>
<!-- <img src="https://www.countryflagicons.com/FLAT/32/{{selectedLangugage}}.png"> -->
<mat-menu  #menu="matMenu" [xPosition]="'before'">
    <button class="lang-button" mat-menu-item (click)="changeLanguage(lang.code)" *ngFor="let lang of languages">
        <!-- <img class="lang-select-icon small-icons" src="assets/img/{{lang.code}}.png"> &nbsp; -->
        <span class="lang-selection" [style.font-family]="lang.font">{{lang.title}}</span>
    </button>
</mat-menu>

