<app-langselect style="float:right; z-index:1; position:absolute; right:0;">
</app-langselect>

<div [ngClass]="{'show':languageService.loading}" class="loading-screen" >
  <div class="loading-text"></div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>

<div [ngClass]="selectedTheme">
  <app-speed-dial-fab
    class="speed-dial-container"
    [ngClass]="speedDialFabPosition"
    [reverseColumnDirection]="speedDialFabPosition===SpeedDialFabPosition.Bottom"
    (fabClick)="onSpeedDialFabClicked($event)"
    [fabButtons]="speedDialFabButtons">
  </app-speed-dial-fab>

  <app-menu></app-menu>

  <div id="parentDiv" class="viewWrapper" appScrollSpy [spiedTags]="spieTags" (sectionChange)="onSectionChange($event)">

    <app-outline [currentSection]="activeSection"></app-outline>

    <app-intro id="intro"></app-intro>

    <app-about id="about"></app-about>

    <app-expert-in id="technologies"></app-expert-in>

    <app-accomplishments id="accomplishments"></app-accomplishments>

    <app-experience id="experience"></app-experience>

    <app-education-conferences id="education"></app-education-conferences>

    <app-contact id="contact"></app-contact>

  </div>

  <app-back-top [position]="200"></app-back-top>

</div>
