@import '~@angular/material/theming';

@mixin about-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  // $background-color: mat-color($background, card);

  .menu {
    // @include mat-elevation(2);
    background-color: mat-color($primary);
  }

  p {
    line-height: 29px;
    font-size: 19px;
    text-align: justify;
  }

  .about{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 64px 10%;
    box-sizing: border-box;
  }

  .profile-picture{
    box-sizing: border-box;

    .profile {
      border:3px solid mat-color($primary)
    }
  }

  .about-title {
    margin-bottom:24px;
  }

  .content{
    // margin-top: 70px;
    padding: 60px;
    box-sizing: border-box;
  }
  .content p:first-child{
    margin-top: 0;
  }
  .content p{
    margin: 16px 0;
  }
  .content button{
    // margin-top: 24px;
    background-color: mat-color($primary);
  }
  .profile{
    transition: filter 0.25s ease;
    background-image: url('../../../assets/img/expertin-min.webp');
    background-position: -236px -500px;
    filter: grayscale(100%);
    border-radius:100%;
    background-repeat: no-repeat;
    width: 320px;
    height: 320px;
    max-width: 320px;
  }

  .profile:hover {
    filter: grayscale(0%);
  }
}

.menu-options {
  position: relative;
  top:8px;
}


@media screen and (max-width: 950px) {
  p {
    text-align: left;
  }


}
