.mat-icon {
  width: 40px;
}
.contact{
  background-color: #263038;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
}
.envelope{
  margin: 0 0 0 -140px;
}
.contactIntro{
  box-sizing: border-box;
  width: 100%;
  font-size: 25px;
  font-family: sans-serif;
}
.left{
  overflow: hidden;
}
.right{
  padding: 0 10% 0 5%;
}
.inputs{
  float: right;
  width: 100%;
}
.input{
  width: 100%;
}
.contact-form{
  margin-top: 32px;
}
.message{
  margin-top: 24px;
}
.mat-input-underline{
  background-color: #596167;
}
.horizontal-line{
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  position: absolute;
  margin-top:80px;
}
.line{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgb(159,164,167);
  box-sizing: border-box;
  padding: 8px 0;
  margin-bottom: 8px;
}
.logo{
  float: left;
  width: 89px;
  height: 68px;
}
.copyrights{
  padding: 16px;
  text-align: center;
}
.footer{
  background-color: #263038;
  width: 100%;
  height: 150px;
}

.title {
  font-size: 30px;
  font-weight:100;
}

.phone {
  text-decoration:none;
  color: lightblue;
}
