/* Raleway */

/* Regular */
@font-face {
  font-family: 'Raleway';
  src: url(../../assets/fonts/Raleway-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Monoton';
  src: url(../../assets/fonts/Pacifico-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'wookianos';
  src: url(../../assets/fonts/wookianos.woff2);
  font-display: swap;
}
