<div fxLayout="row wrap" fxLayoutAlign="start stretch" >
  <div [fxFlexOrder]="reverse ? 1: 3" fxFlexOrder.sm="-1" fxFlexOrder.xs="-1" fxFlex="48" [fxFlex.sm]="100" [fxFlex.xs]="100" [ngClass]="{'left':reverse,'right':!reverse}">
    <div class="mainTitle h3 link colorBlue">{{ job?.title }}</div>
    <div class="subtitle h4">{{ job?.subtitle }}</div>
    <div fxHide fxShow.sm fxShow.xs class="mainTitle h4 year">{{job?.year }}</div>
    <div class="paragraph">{{ job?.intro }}</div>
    <!-- <div *ngFor="let paragraph of job.intro" class="paragraph">{{ paragraph }}</div> -->
    <div *ngFor="let list of job?.elements">
      <h5 style="margin: 10px 0px 10px 0;">{{list.header}}</h5>
      <div fxLayout="row wrap" class="experienceList" [ngClass]="{'lExperienceList leftFlexLayout': reverse,'rExperienceList rightFlexLayout': !reverse}" *ngFor="let l of list.list">
        <div class="experienceListItem" [ngClass]="{'leftItemFlexLayout': reverse, 'rightItemFlexLayout': ! reverse}">
          {{l}}
        </div>
      </div>
    </div>
    <!-- {{job.elements | json}} -->
    <!-- <hr> -->
    <!-- <br/> -->
    <!-- <mat-divider> </mat-divider> -->
    <!-- <br/> -->
  </div>
  <div fxFlexOrder="2" fxFlex="4" class="middle" fxHide.sm fxHide.xs>
    <div class="line top"></div>
    <div class="line bottom">
      <!-- <mat-icon class="midIcon">adjust</mat-icon> -->
      <!-- <img src="assets/img/adjust.png" class="midIcon" /> -->
      <svg id="svg" class="midIcon"  width="26" height="26" viewBox="0, 0, 400,399.592252803262">
        <g id="svgg"><path class="adjust" id="path0" d="M135.984 1.207 C 116.883 4.639,99.917 13.563,95.085 22.721 C 93.216 26.263,93.067 28.273,94.310 33.231 C 97.996 47.944,96.676 66.202,91.088 77.795 C 82.919 94.743,57.231 103.090,36.697 95.469 C 24.652 90.998,19.263 92.714,12.202 103.271 C -1.916 124.377,-3.741 150.297,8.489 155.989 C 23.386 162.923,33.434 171.631,38.568 182.059 C 49.085 203.420,37.542 228.248,11.168 240.993 C 0.090 246.347,-2.130 253.367,2.023 269.924 C 8.730 296.671,20.555 308.790,35.721 304.459 C 54.028 299.232,71.651 301.010,80.832 309.010 C 94.812 321.193,98.233 339.131,90.230 358.287 C 85.764 368.978,87.072 374.670,95.594 381.633 C 102.827 387.542,111.417 391.901,123.638 395.865 C 142.418 401.955,152.453 399.649,157.220 388.148 C 174.124 347.366,225.496 347.383,241.395 388.175 C 241.701 388.960,242.063 389.694,242.198 389.806 C 242.334 389.918,242.934 390.857,243.532 391.893 C 245.111 394.626,248.707 397.754,251.240 398.595 C 258.983 401.167,280.323 394.880,293.349 386.189 C 304.571 378.702,307.027 372.011,302.591 361.011 C 293.059 337.369,302.995 310.084,323.414 303.835 C 335.819 300.038,345.301 300.271,362.023 304.781 C 376.028 308.559,388.015 298.620,395.282 277.205 C 402.306 256.507,399.421 246.696,384.198 239.519 C 347.647 222.285,350.295 173.139,388.646 156.956 C 400.796 151.829,402.348 143.231,395.070 121.375 C 387.169 97.650,376.806 88.720,364.118 94.701 C 351.274 100.756,333.886 101.216,322.557 95.800 C 302.103 86.022,293.421 62.317,301.940 39.506 C 305.296 30.520,305.264 27.916,301.734 22.945 C 293.895 11.906,278.323 3.441,261.084 0.849 C 252.915 -0.380,249.738 0.516,245.399 5.270 C 242.829 8.086,242.211 9.098,239.400 15.087 C 235.095 24.261,225.188 33.578,215.952 37.140 C 192.016 46.371,169.862 36.702,157.866 11.789 C 152.520 0.688,148.823 -1.100,135.984 1.207 M210.601 106.888 C 248.224 111.201,280.275 139.124,289.667 175.770 C 305.418 237.227,256.776 296.300,193.673 292.350 C 126.851 288.168,86.095 216.569,116.524 156.818 C 134.178 122.153,171.407 102.394,210.601 106.888 " stroke="none" fill="#000000" fill-rule="evenodd"></path></g>
      </svg>

    </div>
  </div>
  <div [fxFlexOrder]="reverse ? 3 : 1" fxFlexOrder.sm="-1" fxFlexOrder.xs="-1" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100" [ngClass]="{'right': reverse,'left': !reverse}">
    <div fxHide.sm fxHide.xs class="mainTitle h4 year gapTop">
      <app-title title="{{job?.year}}" [lineWidth]="150" fontFamily="{{portfolio.texts?.font.content}}"> </app-title></div>
    <div fxHide.sm fxHide.xs>
      <div class="used" [ngClass.sm]="['chipsAlign']" [ngClass.xs]="['chipsAlign']" [ngClass.md]="['gapTop']" [ngClass.lg]="['gapTop']" [ngClass.xl]="['gapTop']">
        <mat-chip-list>
          <mat-chip *ngFor="let technology of job?.used" class="chip">{{ technology }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
