<app-separator [fillColor]="'#eee'" [backgroundColor]="'#FFFFFF'"></app-separator>

<div class="educationConferencesWrapper" fxLayout="row wrap" fxLayoutAlign="start start">
    <div #education fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" class="education">

        <div class="educationSVG" [ngStyle.sm]="{'margin-right': -12.5 + '%'}" [ngStyle.xs]="{'margin-right': -12.5 + '%'}">
            <svg width="512px" height="512px" viewBox="0 0 791.803 791.803" style="enable-background:new 0 0 791.803 791.803;" xml:space="preserve">
                <g>
                <path class="hat-bottom" d="M395.904,475.016l-236.203-72.7v71.524v49.896c0,56.133,105.787,101.644,236.274,101.644   c130.48,0,236.285-45.511,236.285-101.644c0-0.442-0.145-0.886-0.154-1.318V402.316L395.904,475.016z" fill="whitesmoke"/>
                <path class="hat-top" d="M0,318.734l84.383,30.185l7.191-15.401l31-2.635l4.42,4.599l-26.601,6.308l-3.877,11.475   c-0.007,0-60.087,125.604-51.263,187.05c0,0,37.502,22.37,74.988,0l9.962-168v-13.984l55.8-12.588l-3.941,9.705l-41.604,13.529   l19.242,6.874l236.203,72.7l236.201-72.7l159.699-57.116l-395.9-152.313L0,318.734z" fill="whitesmoke"/>
                </g>
            </svg>
        </div>

        <div class="h2 title left">
            <app-title title="{{(portfolio.texts)?.education.title}}" fontFamily="{{portfolio.texts?.font.title}}" [stylish]="true" [lineWidth]="250" [inverse]="true"></app-title>
        </div>

        <div class="educationItem" *ngFor="let education of (portfolio.texts)?.education.content">
            <app-list [item]="education" type="education" ></app-list>
        </div>
    </div>

    <!-- <div #conferences fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="conferences"> -->

    <!-- <div class="conferencesSVG" [ngStyle.sm]="{'margin-left': -12.5 + '%'}" [ngStyle.xs]="{'margin-left': -12.5 + '%'}"> -->
    <!--   <svg -->
    <!--      width="194" -->
    <!--      height="365"> -->
    <!--     <g> -->
    <!--     <g -->
    <!--      transform="matrix(1.25,0,0,1.25,-799.14116,-6105.1339)"> -->
    <!--     <g -->
    <!--      transform="matrix(0.96592581,0.25881904,-0.25881904,0.96592581,618.5835,4858.9844)"> -->
    <!--     <path -->
    <!--      style="fill:#ECEFF1;fill-opacity:1;fill-rule:nonzero;stroke:none" -->
    <!--      d="m 99.240303,179.83878 c 24.601027,0 44.311497,-19.85866 44.311497,-44.45969 l 0.14818,-88.919396 C 143.69998,21.858665 123.84133,2 99.240303,2 74.639275,2 54.780609,21.858665 54.780609,46.459694 l 4.23671,92.612246 c 7.108032,25.73285 15.621956,40.76684 40.222984,40.76684 z m 78.545437,-44.45969 c 0,44.45969 -37.64252,75.58148 -78.545445,75.58148 -9.898521,0 -23.138969,-7.81514 -21.531807,-2.13223 1.61657,6.10419 1.691201,6.29426 2.87513,10.73016 2.085999,7.5441 1.669449,6.10745 2.650749,9.89273 0.939583,3.5352 0.446816,1.68437 0.9478,3.53723 0.358902,1.42199 0.227371,0.98168 0.549736,2.05166 0.666985,2.56445 0.178917,0.83395 1.959251,7.31201 l 9.181496,35.3571 18.18755,5.86883 0,-48.60926 c 48.60926,-7.11354 88.91937,-48.90566 88.91937,-99.58971 l -25.19383,0 z" /> -->
    <!--     </g> -->
    <!--     <g -->
    <!--      transform="matrix(0.52991921,0.84804809,-0.84804809,0.52991921,738.34766,5077.4175)"> -->
    <!--     <path -->
    <!--      style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" -->
    <!--      d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 95,0 c 2.20914,0 4.09476,0.78104854 5.65685,2.3431456 C 110.21895,3.9052427 111,5.7908607 111,8 c 0,2.209139 -0.78105,4.094757 -2.34315,5.656854 C 107.09476,15.21895 105.20914,15.999999 103,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" /> -->
    <!--     </g> -->
    <!--     <g -->
    <!--      transform="matrix(0.52991921,0.84804809,-0.84804809,0.52991921,676.53503,4903.0796)"> -->
    <!--     <path -->
    <!--      style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" -->
    <!--      d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 7,0 c 2.209139,0 4.094757,0.78104854 5.656855,2.3431456 C 22.218952,3.9052427 23,5.7908607 23,8 23,10.209139 22.218952,12.094757 20.656855,13.656854 19.094757,15.21895 17.209139,15.999999 15,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" /> -->
    <!--     </g> -->
    <!--     <g -->
    <!--      transform="matrix(0.52991921,0.84804809,-0.84804809,0.52991921,709.21857,4952.7656)"> -->
    <!--     <path -->
    <!--      style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" -->
    <!--      d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 51,0 c 2.209133,0 4.094753,0.78104854 5.656853,2.3431456 C 66.218948,3.9052427 66.999992,5.7908607 67,8 c -8e-6,2.209139 -0.781052,4.094757 -2.343147,5.656854 C 63.094753,15.21895 61.209133,15.999999 59,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" /> -->
    <!--     </g> -->
    <!--     <g -->
    <!--      transform="matrix(0.92050487,-0.39073113,0.39073113,0.92050487,728.88245,4884.3569)"> -->
    <!--     <path -->
    <!--      style="fill:#f286b6;fill-opacity:1;fill-rule:nonzero;stroke:none" -->
    <!--      d="M 1.6000689,1.5013854 C 2.920665,0.74961472 3.6520281,1.0446759 4.6599045,2.1451039 c 0,0 4.8345279,8.9493931 6.7152855,19.8015091 1.719563,9.919871 0.176978,21.126423 -1.6602356,25.756741 -4.0274101,9.629352 -19.8619314,29.330742 -19.8619314,29.330742 -1.899121,0.546516 -2.417651,0.71682 -3.380749,-0.21183 -0.963099,-0.92865 -0.731144,-1.629311 -0.731144,-3.286164 0,0 15.3031385,-19.023597 18.4503573,-27.394909 C 6.5595431,41.420261 7.7883134,31.542048 6.1099286,22.211121 4.2873421,12.0758 0.28249612,4.6053925 0.28249612,4.6053925 c 0,-1.6568532 -0.003022,-2.3522349 1.31757278,-3.1040071 z" /> -->
    <!--     </g> -->
    <!--     </g> -->
    <!--     </g> -->
    <!--   </svg> -->
    <!-- </div> -->

    <!-- <div class="title h2 right"> -->
    <!--     <app-component-title title="{{(portfolio.texts)?.conferences.title}}" lineWidth="185"></app-component-title> -->
    <!-- </div> -->
    <!-- <div class="conferenceItem" *ngFor="let conference of (portfolio.texts)?.conferences.content"> -->
    <!--     <app-component-list [item]="conference" type="conference" ></app-component-list> -->
    <!-- </div> -->
    <!-- </div> -->
</div>
