<div #technologies class="expertin" fxLayout="row wrap" fxLayoutAlign="start start">
  <div class="h2 titleExpertin" fxFlex="100" [ngStyle.sm]="{'text-align': 'center','padding':0}" [ngStyle.xs]="{'text-align': 'center','padding':0}">
    <app-title title="{{(portfolio.texts)?.technologies.title}}" fontFamily="{{portfolio.texts?.font.title}}" [stylish]="true" [lineWidth]="250" [inverse]="true"></app-title>
  </div>
  <div class="content" fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
    <div fxLayout="row wrap"  fxLayoutAlign="start">
      <app-mastery [item]="mastery" *ngFor="let mastery of (portfolio.texts)?.technologies.masteries"></app-mastery>
    </div>
  </div>
  <div class="expertinSVG" fxFlex="30" fxFlex.sm="0" fxFlex.xs="0" fxHide.sm fxHide.xs>
    <svg width="546" height="480">
      <g>
      <g transform="translate(296.22295,-100.91107)">
      <g transform="matrix(1.25,0,0,1.25,-299.42127,97.817317)">
      <path style="fill:#ECEFF1;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 303.08862,384.06244 c -11.04046,-6.07227 -104.88475,-58.51465 -104.88475,-58.51465 0,0 -97.15648,49.68225 -105.436872,53.54645 -8.280372,4.4162 -28.153282,-2.2081 -24.2891,-19.87293 3.312156,-17.11276 22.633041,-115.92527 22.633041,-115.92527 0,0 -72.315309,-72.31533 -82.8037901,-82.80379 -10.4884808,-9.93645 -6.624304,-28.15329 11.5925321,-30.36141 18.216831,-2.2081 115.373299,-14.35265 115.373299,-14.35265 0,0 50.78632,-97.156448 55.75456,-106.5408786 4.96822,-8.83240593 24.28911,-9.38443079 28.70528,0.5520248 4.96826,10.4884768 50.78635,108.7489738 50.78635,108.7489738 0,0 110.40505,18.21685 119.78948,20.42495 14.35264,2.76013 15.4567,20.42494 6.62427,28.15329 -8.8324,7.72834 -87.22,81.14772 -87.22,81.14772 0,0 16.56076,109.30098 18.21683,122.54957 1.6561,13.80063 -13.8006,19.3209 -24.84113,13.2486 z" />
      </g> <g transform="matrix(1.1036844,0.58683946,-0.58683946,1.1036844,-115.72907,350.39202)">
      <path style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
      </g>
      <g transform="matrix(1.1036844,0.58683946,-0.58683946,1.1036844,79.622931,454.26262)">
      <path style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
      </g>
      <g transform="matrix(1.1036844,0.58683946,-0.58683946,1.1036844,-24.182869,468.43812)">
      <path style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
      </g>
      <g transform="matrix(0.42752519,1.1746158,-1.1746158,0.42752519,-227.08877,364.24632)">
      <path style="fill:#abe074;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 4.8617272,3.7067251 c 0,0 37.5522818,-17.4243431 37.5522818,-17.4243431 l 25.69133,15.2682898 c 0.171219,0.1056404 0.927399,1.5853458 0.291794,2.6596081 -0.635605,1.0742622 -1.279595,1.5445757 -2.936447,1.5445757 0,0 -23.149117,-13.9733576 -23.149117,-13.9733576 L 6.5891891,8.4982605 c -1.6568542,0 -1.7091737,-0.3529243 -2.2826601,-1.922019 C 3.7330449,5.0071502 3.225569,5.1172633 4.8617272,3.7067251 Z" />
      </g>
      <g transform="matrix(1.1036844,0.58683946,-0.58683946,1.1036844,-84.534369,121.03212)">
      <path style="fill:#14c3fd;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,82 0,3 C 0,1 1,0 3,0 5,0 6,1 6,3 L 6,82 C 6,84 5,85 3,85 1,85 0,84 0,82 Z" />
      </g>
      <g transform="matrix(1.1036844,0.58683946,-0.58683946,1.1036844,-11.979069,339.14202)">
      <path style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
      </g>
      <g transform="matrix(1.1036844,0.58683946,-0.58683946,1.1036844,-83.512869,299.20492)">
      <path style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 29,0 c 2.209141,0 4.094757,0.78104854 5.656853,2.3431456 C 44.218952,3.9052427 45,5.7908607 45,8 45,10.209139 44.218952,12.094757 42.656853,13.656854 41.094757,15.21895 39.209141,15.999999 37,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
      </g>
      </g>
      </g>
    </svg>
  </div>
</div>
